.base {
  display: flex; 
  height: 100vh;
  overflow-y: hidden;
}
.top {
  display: flex;
  height: 80px;
  background-color: rgb(241, 241, 241);
}
.content {
  display: flex;
  flex-direction: column;       
  flex-grow: 1;                 
}

#title{
  margin-left: 10px;
  text-align: center;
  font-size: 35px;
}
.main_content {
  padding: 20px;
}

.sidebar {
  width: 200px; 
  height: 100vh;
  background: linear-gradient(to bottom, #8cd6e9, #676cfa);
  padding: 20px;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.3);
}

.sidebar ul {
  list-style-type: none; 
}

.sidebar li {
  margin-bottom: 30px; 
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex; 
  align-items: center;
  margin-left: -10px;
  gap: 20px; 
  font-size: 20px;
  width:100%;
}

.sidebar a {
  text-decoration: none; 
  color: #333; 
  font-size: 18px;
}

.sidebar a:hover {
  color: #007BFF; 
}
.heading{
  display: flex; 
  align-items: center; 
  margin-bottom: 100px;
}
.whale{
  font-size: 120px;
  padding-top: 0px;
  color: #0a0e7a;
}
.section{
  display: flex; 
  align-items: center;
  margin-left: -10px;
  gap: 20px; 
  font-size: 20px;
}
.sidebar .active {
  background-color: lightcyan; 
  border-radius: 10px;
}
#searchbox{
  position: fixed;
  margin-left: 800px;
  margin-top: 30px;
}
#searchInput{
  width: 300px; 
  height: 40px; 
  padding: 5px; 
  margin-right: -5px; 
  border: None;
}
#searchButton{
  height: 40px; 
  width: 50px;
  padding: 5px; 
  background-color: #cbd9e8;
  align-items: center;
  border:none;
}
#searchWrapper {
  display: flex; 
  border: 1px solid #908b8b; 
  border-radius: 4px; 
}

#fileList {
  display: flex;
  flex-direction: column;
  height: 70vh;
  max-width: 100%;
  width: 75vw;
  overflow-y: auto;
}

.fileCard{
  display: grid;
  width: 100%;
  grid-template-columns: 15% 75% 10%;
  padding: 5px;
  border-bottom: 2px solid #8cd6e9;
}

.fileCard:hover{
  background-color: lightgray;
}

.statistics{
  background-color: rgba(211, 211, 211, 0.441);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin-left: auto;
  padding-inline: 1%;
}
.home, .settings{
  padding: 5px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  grid-template-rows: repeat(3, auto);
  gap: 20px; 
  padding: 20px;
}

.box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line_graph_container{
  grid-row: 2; 
  grid-column: span 2;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  align-items: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.bar_graph_container{
  grid-row: 2; 
  grid-column: span 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  align-items: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.description {
  text-align: center; 
}
.stat{
  font-size: 30px;
  margin-bottom: 10px;
}
.info{
  font-size: 20px
}

.tabs {
  margin-bottom: 20px;
}
.settings_bar a:hover {
  color: #007bff; 
}
.settings_bar {
  border-radius: 3px; 
  background-color: #f0f0f0; 
  padding: 10px; 
}
.settings_bar a {
  text-decoration: none; 
  color: #333; 
  font-size: 16px; 
  padding-bottom: 5px; 
}
.settings_bar ul {
  list-style-type: none; 
  display: flex; 
  padding: 0; 
  margin: 0; 
}

.settings_bar li {
  margin-right: 20px; 
}

.settings_bar a.tab:hover {
  border-bottom: 2px solid #007bff; 
}
.current{
  border-bottom: 2px solid #007bff; 
  padding-bottom: 5px; 
}

.info_box{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.network_form{
  display: flex;
  gap: 20px;
}

.network_input{
  width: 300px;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
}
#api{
  margin-right: 10px;
}
#connect_button{
  border-radius: 3px;
  width: 100px;
  height: 36px;
  margin-top:4px;
  background-color: #85a7ea;
}
.profile_pic{
  width: 150px;
  height: 150px;
  font-size: 135px;
  color: grey;
  padding:10px;
  margin-right: 100px;
  margin-top:0px;
  margin-left: 40px;
  border: 2px solid black;
  border-radius: 50%;
  color:#7193d7;
}
.profile{
  width:100%;
  display:flex;
  align-items: center;
}
.account_info{
  margin-top:50px;
}
.name_container{
  display: flex;
  gap:90px;
  margin-bottom:10px;
}
.bottom{
  width:500px;
  border-radius: 4px;
  height:30px;
}
.up{
  width:200px;
  border-radius: 4px;
  height:30px;
}
#mail{
  margin-bottom: 10px;
  border-radius: 4px;
}
#save_button{
  margin-top:20px;
  margin-left:435px;
  padding:10px;
  width:70px;
  align-items: center;
  background-color:#85a7ea;
  border-radius:2px;
}
#add{
  padding:10px;
  width:100px;
  align-items: center;
  background-color:#85a7ea;
  border-radius:2px;
  margin-left:950px;
}

#network{
  width:100%;
  align-items: center;
}
#profile{
  width:100%;
  align-items: center;
  display: flex;
  gap: 500px;
}
#balance{
  width:100%;
  align-items: center;
  display: flex;
}
#network_title, #profile_title{
  margin-left:40px;
}
#balance_title{
  margin-left:40px;
  margin-right: 830px;
}
.balance{
    width:300px;
    border-radius: 4px;
    height:30px;
    margin-right: 10px;
}
#coins{
   font-size: 18px;
   font-weight: 500;
   margin-right: 20px;
}

.statistics span{
  color: gray;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  background-color: white;
  padding: 35px;
  justify-content: space-between;
  border-radius: 5px;
}

.close {
  bottom: 30px;
  right: 25px;
  position: relative;
  cursor: pointer;
}

.primary_button{
  background-color: #007bff;
  color: white;
  border-style: none;
  font-size: 16px;
}
#api_config{
  margin-left: 300px;
}
#api_title{
  margin-right: 20px;
  font-size: 18px;
}